label {
	float: left;
	width:165px;
}

input[type = 'file'], input[type = 'number'], input[type = 'text'], select{
	width: 100% !important;
	max-width: 540px;
}
.input_chica  {
	width: 100% !important;
	margin-bottom: 5px;
	max-width:175px !important;
	float:none;
}
select {
	width: 100% !important;
	margin-bottom: 5px;
	max-width:190px;
	float:none;
}
.juntos{
	display: inline-block;
	width: 198px;
}
.juntos_radio{
	display: inline-block;
	color: #666;
	font-weight: bold;
	padding: 2px 12px;
}
#titulo_form{
	color:#666666 !important;
	font-size:25px;
	font-weight:bold;
	margin-bottom:20px;
}

.datos_proy{
	border-top-style: solid;
	border-width: 1px;
	border-color: #b3b3b3;
	padding: 10px 0px;
	max-width: 720px;
	color: #666666;
	font-size:14px;
	padding-left:15px;
}

.datos_proy label{
	color: #666666;
	font-weight:bold;
	font-size:14px;
}
.datos_proy_cv{
	border-top-style: solid;
	border-width: 1px;
	border-color: #b3b3b3;
	padding: 10px 0px;
	max-width: 720px;
	color: #666666;
	font-size:14px;
	padding-left:15px;
}
.datos_proy_cv label{
	color: #666666;
	font-weight:bold;
	font-size:14px;
	min-width:210px;
	margin-top:10px;
}
#submitbutton {
	margin-left: 100px;
	margin-top: 5px;
	width: 90px;
}

br {
	clear: left;
}
.left15 {
	margin-left: 15px;
}
/*alta proveedores*/
#agregados label {
	float: none;
}
label {
	width:200px;
	font-size: 14px;
	font-weight: bolder !important;
	line-height: 20px;
}
#agregados .inputs:nth-child(2n) {
    background: none repeat scroll 0 0 #F0f0f0;
}
#agregados .inputs {
    margin-top: 10px;
    padding: 5px 10px;
}
div.inputs input#monto {
	width: 200px;
}
.mitad {
	width: 40%;
	margin-right:9%;
	display: inline-block;
}

/*fin alta proveedores*/

/*costos variables*/
div#otros > div {
	margin-bottom:15px; 
}
/* fincostos variables*/



@media screen and (max-width:770px) {
	
	.datos_proy{
		padding-left:0px;
	}
	.juntos{
		display: inline-block;
		width: 340px;
	}
	.mitad {
		min-width: 320px;
	}
	.juntos{
		display: block;
	}

}
