/** text/css **/

a.button{
	color: #002c61 !important;
	background: #99ccff !important;
	border: 0 !important;
	.box-shadow(0 2px 0 rgba(0, 0, 0, 0.1)) !important;
	.transition(all 0.1s ease-in) !important;
	text-shadow: none !important;
	border-radius: 15px !important;
	&:hover, &:active, &:focus {
		color: #FFFFFF !important;
		background: #009ed3 !important;
	}
}
.datos{
	margin-bottom: 15px;
	text-align: left;
}
.labels{
	font-weight: bolder;
}
