
.login-greeting {
  min-width: 300px;
}

@ancho-input-modlgn: 193px;
  #modlgn-passwd, #modlgn-username {
    width: @ancho-input-modlgn;
  }
  form#login-form .button {
    margin-left: @ancho-input-modlgn + 10;
  }
h1 {
  font-size: 171%;
}
h2 {
  font-size: 129%;
}
h3 {
  font-size: 114%;
}
h4 {
  font-size: 114%;
}
h5 {
  font-size: 114%;
}
.menu-block {
  padding-top: 27px;
}
.menu-block .gf-menu {
  padding: 0; 
}
.gf-menu > li:last-child {
  background: #BDCC00;
  border-radius: 5px;
}
.gf-menu.l1 > li, #ligasprod, .descText { /* Pagination.css */ 
  letter-spacing: 0.1em;
}
div.dropdown .item {
font-family: @hexeris-font-regular;
}
.descText {  /* Pagination.css */
  height: 60px;
  font-weight: 600;
  font-size: 16px;
}

.barra-top {
  float:left;
  width:100%;
}
