
.busq_cat select {
	width: 35%;
	display: inline-block;
	margin: 0 15px 0 0;
}

#busqueda_tags input[type="submit"], .busq_cat input[type="submit"] {
    background: #2C9AD9 !important;
    border: 0 none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF !important;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in 0s;
    cursor: pointer;
   	border-radius: 3px 3px 3px 3px;
    display: inline-block;
    font-family: 'BarnaBold',Geneva,Verdana,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.7em;
    padding: 5px 15px;
    vertical-align: middle;   
}
#busqueda_tags input[type="submit"]:hover,.busq_cat input[type="submit"]:hover {
	background: #474747 !important;
}
#busqueda_tags input[type="text"] {
	margin: 2px 9px 0 0;
}
