/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.pagination {
	
}
.pagination a {
	text-decoration: none;
	color: #666;	
	font-size:16px;
}
.pagination a,.pagination span {
	display: block;
	float: left;
	padding: 0.3em 0.5em;
	margin-right: 5px;
	margin-bottom: 5px;
}
.pagination .current {
	color: #e1001a !important;
}
.pagination .currento.prev,.pagination .currento.next {
	color: #666;
	font-weight:bold;
	font-size:16px;
	}
.ancho {
	width: 33%;
}
.inner {
	margin: 1em;
}
	.barra-top {
		margin: 0;
		width:100%;
	}
	#ligasprod{
		padding: 5px 0px 5px 17px;
		margin-left: -4px;
		max-width:780px;
		font-weight:bold;
		text-shadow:none;
		color:black;
	}
	.barra-top input[type="checkbox"], .barra-top input[type="button"] {
		margin-top:-2px !important;
		box-shadow: 0px 0px 4px #000;
	}
	.barra-top input[type="button"] {
		border: 0;
		box-shadow: 0 0 0;
		background: transparent;
		font-weight: bold;
	}
	.barra-top > div {
		float: left;
		margin: 0 2px 2px 0;
		background: #b3b3b3;
		height: 28px;
		padding: 5px 9px 0px 13px;

	}
	#contador span{
		color:#000;
	}
	#filtrar, #triangle {
		margin-right: 0px;
	}
	#filtrar{
		background: #2c9ad9;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		padding: 5px 0px 5px 17px;
		width: 75px;
		height: 23px;
		font-weight: bold;
		color: #fff;
	}
	#triangle {
		width: 0;
		height: 0;
		border-top: 17px solid transparent;
		border-left: 11px solid #2c9ad9;
		border-bottom: 16px solid transparent;
		background-color:#b3b3b3;
		padding: 0;
	}

	#contador{
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		color:#e1001a;
		margin-bottom: 2em;
	}


div.proyecto > .inner {
 	margin: 0 5px 0 1em; 	
	border-radius: 7px;
	box-shadow: 5px 3px 16px #999292;
	background: #fff;
	padding-top:7px;
	padding-bottom:7px;
}
.proyecto {
	float: left;
	margin-bottom: 1em;
}
.titulo{
	color:fff;
	content: "\f0d7";
}
.tituloProy a, .catSubCat, .productor a, .descripcion {
	color:#000 !important;
	font-weight:bold;
}
.tituloProy a{
	font-size:22px;
}
.catSubCat {
	font-size:15px !important;
	text-transform: uppercase;
}
.productor a, .descripcion {
	font-size:14px !important;
}
.statusP{
	font-size:13px !important;
}
.titulo span, .descripcion span {
	display: block;
	font-size: 86%;
	line-height: 1.5em;
}
.avatar {
	overflow: hidden;
}
.avatar:before {
	font-size: 30px;
	content: "\f0d7";
	font-family: FontAwesome;
	position: absolute;
	margin: -8px 0 0 20px;
	z-index: 1;
	color:#fff;
	text-shadow: 0 0 0;
}
.avatar img {
	width: 100%;
}
.descText {
	margin: 2em 0;
	line-height: 1.5em;
	height:55px;
	overflow:hidden;
}
.proyecto .readmore {
	text-align: right;
}
.imgPerfil{
	float:left;
	width:127px;
	height:100px;
	overflow:hidden;
}
.datosPerfil{
	float:left;
	padding-left:5px;
}
@media screen and (min-width: 721px) and (max-width: 1216px) {
	.ancho {width: 50%;}
}
@media screen and (max-width: 976px) {
	.ancho {width: 100%;}
}

