
div.bussines-card{
	max-width: 380px;
	min-height: 112px;
	width: 100%;
	height: auto;
	padding: 10px;
}

#foto {
	max-width: 175px;
	width: 100%;
	background: url(../images/avatartrama.jpg) no-repeat;
	margin-bottom:20px;
	float: right;
}

#datos{
	color:#666;
	font-weight:bold;
	margin-right:20px;
	text-transform: capitalize;
}
#datos h2 {
	margin-top: 0;
	padding-top: 0;
	line-height: 100%;
}
#calif{
	float:left;
	margin-right:20px;
}
#raty {
	height: 2em;
	margin: 1em 0;
}
#texto{
	float:left;
}
#contactar {
	clear: left;
}
.divcontent {
	display: none;
}
.mitad {
	min-width: 300px;
	width: 50%;
	float: left;
}
.ac-container {
	margin: 10px auto 30px auto;
	text-align: left;
	float:left;
	width: 98%;
}
.ac-container {
	margin-right: 2%;
}
.ac-container-color2 {
	margin-right: 0;
	margin-left: 2%;
}
.ac-container label {
	background: #B3B3B3;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 23px;
	cursor: pointer;
	color: #000;
	line-height: 26px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container-color2 label {
	background: #C7B299;
}
.ac-container label:hover{
	background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #2C9AD9;
	color: #000;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #2C9AD9;
	color: #FFFFFF;
}
.ac-container-color2 input:checked + label,
.ac-container-color2 input:checked + label:hover{
	background: #F18700;
	color: #FFFFFF;
}
.ac-container label:after, .ac-container2 label:after,
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down_blanco.png) no-repeat center center;	
}
.ac-container label:after, .ac-container2 label:after {
	background: transparent url(../images/arrow_down_blanco.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up_blanco.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: auto;
}
.ac-container input:checked ~ article.ac-medium{
	height: auto;
}
.ac-container input:checked ~ article.ac-large{
	height: auto;
}
.editar {
	position: absolute;
	margin: -2.5em 0 0 85%;
}
.statusproyecto {
	font-weight: bold;
}
.fechacreacion {
	font-weight: bold;
}
div.business-card{
	margin-bottom: 2em;
}
div.business-card div#datos span {
	display: block;
}
#job_title, #company_name {
	font-size: 18px;
	font-weight: normal;
}
#agrega_amigo a {
	color: #FFFFFF;
}
#agrega_amigo {
	margin: 1em 0 0 0;
}
